<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>DBLParse is a set of high-efficiency document query and analysis system based on DBLP big data</string>
	<key>CFBundleIconFile</key>
	<string>DBLParse.icns</string>
	<key>CFBundleIdentifier</key>
	<string>xyz.tootal.DBLParse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>MACOSX_BUNDLE_SHORT_VERSION_STRING</string>
	<key>CFBundleName</key>
	<string>DBLParseSrc</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Distributed under GPLv3 license. Copyright 2021 tootal</string>
</dict>
</plist>
