[submodule "docs"]
	path = docs
	url = https://github.com/tootal/DBLParse.wiki.git
[submodule "pivoter"]
	path = pivoter
	url = git@github.com:tootal/pivoter
[submodule "web"]
	path = web
	url = git@github.com:tootal/dblparse-web.git
