html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Belgrano';
    font-style: normal;
    font-weight: 400;
    src: local('Belgrano Regular'), local('Belgrano-Regular'), url(Belgrano.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    color: #888;
    text-align: center;
}

h1 {
    color: #222;
    font-size: 60px;
    font-family: 'Belgrano', serif;
    margin: 20px 40px;
    margin-top: 50px;
}

.search-box {
    height: 40px;
    font-size: 0;
}

.search-box > * {
    height: inherit;
    font-size: 20px;
    border: 1px solid #666;
}

.search-box > select {
    width: 100px;
}

.search-box > input {
    width: 300px;
    padding: 11px 17px;
    border-left: 0;
    border-right: 0;
}

.search-box > button {
    width: 110px;
    cursor: pointer;
    background: #fafafa;
    padding: 0;
}

.search-box > button:hover {
    background: #f2f2f2;
}

table {
    max-width: 700px;
    margin: 50px auto;
    border-collapse: collapse;
    font-size: 18px;
}

thead > tr {
    color: white;
    background-color: #606673;
}

tbody > tr:hover {
    background-color: #f5f5f5;
}

tbody > tr > td:nth-child(2) {
    min-width: 400px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

td {
    text-align: left;
}

tbody td {
    color: #212121;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}

.search-author {
    font-weight: bold;
}

.search-author-other:hover {
    cursor: pointer;
    color: #1889c4;
}

a.link-card {
    display: block;
    padding: 12px;
    border-radius: 10px;
    width: 380px;
    height: 90px;
    margin: 30px auto;
    background: #f6f6f6;
    text-decoration: none;
    color: #1a1a1a;
}

.link-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-card-text {
    float: left;
    text-align: left;
}

.link-card-icon {
    float: right;
}

.link-card-title {
    font-size: 22px;
    margin: 5px 0;
}

.link-card-meta {
    color: #999;
    font-size: 16px;
}