name: Build
on:
  push:
    branches:
      - feature/cmake
jobs:
  build-desktop:
    name: Build on Desktop
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            arch: win64_msvc2019_64
            script: ./scripts/deploy.bat
            dist: ./deploy/DBLParse.zip
          - os: ubuntu-18.04
            script: ./script/build.sh
            dist: ./deploy/DBLParse.AppImage
          - os: macos-10.15
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: 5.15.2
          target: desktop
          arch: ${{ matrix.arch }}
          modules: qtwebengine
      - name: Checkout codes
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check Permission
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: chmod u+x ${{ matrix.script }}
      - name: Build Project
        run: ${{ matrix.script }}
      - name: Update Tag
        run: |
          git tag --force continuous-build ${GITHUB_SHA}
          git push --force --tags
      - name: Update Continuous Build Release
        uses: johnwbyrd/update-release@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: ${{ matrix.dist }}
          release: Continuous Build
          tag: continuous-build
