/* Ref: https://webkit.org/blog/363/styling-scrollbars/ */

::-webkit-scrollbar {
    background-color: #EAEAEA;
    border: none;
    width: 18px;
    height: 18px;
}

::-webkit-scrollbar-button {
    height: 18px;
    width: 18px;
    background-color: #EAEAEA;
}

::-webkit-scrollbar-button:hover {
    background-color: #D0D0D0;
}

::-webkit-scrollbar-button:active {
    background-color: #787878;
}

::-webkit-scrollbar-track {
    background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #DADADA;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D0D0D0;
}

::-webkit-scrollbar-thumb:active {
    background-color: #787878;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(down.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(up.svg);
    background-repeat: no-repeat;
    background-size: contain;
}